    header {
      text-align: center;
      background: url("http://40.media.tumblr.com/12ffe9c674704862197ce3e8fa2318bb/tumblr_mx67pdBhsx1sz7axzo2_1280.jpg");
      background-size: cover;
      background-position: center;
      display: block;
      color: white;
    }
    .nav {
      color: white;
    }
    h1 {
      margin: 0px 0px 0px 0px;
      padding: 10px;
      font-size: 70px;
      color: white;
      background: black;
    }
    img {
      margin: 20px 0px 0px 0px;
      border: 7px solid white;
      height: 120px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    div{
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
    }
